@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  font-family: "Roboto", sans-serif;
}

.plus, .pen, .xmark {
  cursor: pointer;
  font-size: 20px;
  transition: .5s ease all;
  color: #eeeeee;
}

.plus:hover {
  transition: .5s ease all;
  color: #00ccff;
  rotate: 90deg;
}

.pen {
  font-size: 18px;
}

.pen, .xmark {
  padding: 5px;
}

.pen:hover {
  color: #adff2f;
  transition: .5s ease all;
}

.xmark:hover {
  color: #ff0000;
  transition: .5s ease all;
}
